<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
  </head>
  <body>
    <h1>Registration Form</h1>
    <form method="post" action="form">
      <label><b>First Name:</label><br>
      <input type="text" name="first_name" placeholder="Enter your First Name"><br><br>
      <label><b>Last Name:</label><br>
      <input type="text" name="last_name" placeholder="Enter your Last Name"><br><br>
      <label><b>Age:</label><br>
      <input type="number" name="age" placeholder="Enter your Age"><br><br>
      <label><b>Gender:</label><br>
      <select name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select><br><br>
      <label><b>Email:</label><br>
      <input type="email" name="email" placeholder="Enter your Email"><br><br>
      <label><b>Faculty:</label><br>
      <select name="faculty">
        <option value="Electrical Engineering">Electrical Engineering</option>
        <option value="Chemical Engineering">Chemical Engineering</option>
        <option value="Aerospace Engineering">Aerospace Engineering</option>
        <option value="Medical Engineering">Medical Engineering</option>
        <option value="Power Engineering">Power Engineering</option>
      </select><br><br>
      <input type="submit" value="Submit the data">
    </form><br>
    <h3>Students Table</h3>
    <a href="/displayTable">Click here</a><br>
    <h3>Main Webpage</h3>
    <a href="/">Click here</a>
  </body>
</html>

